---
layout: guide
title: Guide
---

<!-- <div class="sidebar">
    <div class="sidebar-nav">
        <h2>{{ site.data.samplelist.docs_list_title }}</h2>
        {% for item in site.data.samplelist.toc %}
        <h3>{{ item.title }}</h3>
        <ul>
            {% for entry in item.subfolderitems %}
            <li>
                <a href="#" onclick="loadContent('{{ entry.url }}')"
                    >{{ entry.page }}</a
                >
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div> -->

<div class="content-container">
    Default or welcome content goes here
    <h3>
        Welcome to my Software Engineer guide. Click on the items in the sidebar
        to load the content.
    </h3>
    <p>
        <br />
        This guide is dedicated to developing and solidifying my knowledge of
        software engineering concepts. The goal is to include key principles and
        share insights with those who are interested. As a backend Java engineer
        in constant learning, I aim to gradually build and enhance this guide,
        showcasing concepts that can help others in their journey to becoming
        more proficient in software development.
    </p>
</div>

<!-- <script>
    function loadContent(url) {
        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                document.getElementById("content-container").innerHTML = data;
            });
    }
</script> -->
