<style>
    html {
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        overflow-x: hidden;
        font-size: 20px;
    }
    .sidebar-nav ul,
    li {
        line-height: 1rem;
        font-weight: 300;
    }
</style>

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" />

<!-- Toggleable sidebar -->

<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <a href="{{ site.url }}/guide">
            <p>{{ site.description-guide }}</p>
        </a>
    </div>
    <nav class="sidebar-nav">
        {% for item in site.data.samplelist.toc %}
        <h3 class="sidebar-nav-item">{{ item.title }}</h3>
        <ul>
            {% for entry in item.subfolderitems %}
            <li>
                <a
                    class="sidebar-nav-item"
                    href="entry.url"
                    onclick="loadContent('{{ entry.url }}', this)"
                    >{{ entry.page }}</a
                >
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
        <div class="redirect-links">
            <a
                class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}"
                href="{{ '/' | absolute_url }}"
                >Home</a
            >
            <a class="sidebar-nav-item" href="{{ site.github.repo }}"
                >GitHub project</a
            >
        </div>
    </nav>
</div>
