/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

html,
body {
    overflow-x: hidden;
}

.wrap {
    position: relative;
    width: 100%;
}

/*
   * Container
   *
   * Center the page content.
   */

.container {
    max-width: 58rem;
    margin: 125px auto 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 48em) {
    .container {
        max-width: 32rem;
    }
}
@media (min-width: 56em) {
    .container {
        max-width: 46rem;
    }
}
