---
layout: default
---

{% include header.html %}

<body>
    <!-- <button></button> toggle sidebar button here -->
    <aside class="sidebar">
        <div class="sidebar-nav">
            <h2>{{ site.data.samplelist.docs_list_title }}</h2>
            {% for item in site.data.samplelist.toc %}
            <h3>{{ item.title }}</h3>
            <ul>
                {% for entry in item.subfolderitems %}
                <li>
                    <a href="#" onclick="loadContent('{{ entry.url }}', this)"
                        >{{ entry.page }}</a
                    >
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </aside>
    <section class="content">
        <div id="markdown-section" class="markdown-section">{{ content }}</div>
    </section>

    <script>
        function loadContent(url, element) {
            fetch(url)
                .then((response) => response.text())
                .then((data) => {
                    // Set the markdown content to the section
                    document.getElementById("markdown-section").innerHTML =
                        data;

                    // Highlight the selected link
                    document
                        .querySelectorAll(".sidebar-nav a")
                        .forEach((link) => {
                            link.classList.remove("active");
                        });
                    element.classList.add("active");
                });
        }
    </script>
</body>
