---
layout: default
---

{% include header.html %}

<body>
    <!-- <button></button> toggle sidebar button here -->
    <aside class="sidebar">
        <div class="sidebar-nav">
            <h2>{{ site.data.samplelist.docs_list_title }}</h2>
            {% for item in site.data.samplelist.toc %}
            <h3>{{ item.title }}</h3>
            <ul>
                {% for entry in item.subfolderitems %}
                <li>
                    <a href="#" onclick="loadContent('{{ entry.url }}', this)"
                        >{{ entry.page }}</a
                    >
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </aside>
    <section class="content">
        <article id="markdown-section" class="markdown-section">
            {% if content %} {{ content }} {% else %} {% include_relative
            default.md %} {% endif %}
        </article>
    </section>

    <script>
        function loadContent(url, element) {
            fetch(url)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.text();
                })
                .then((data) => {
                    document.getElementById("markdown-section").innerHTML =
                        data;
                    // Optional: Highlight the selected link
                    document
                        .querySelectorAll(".sidebar-nav a")
                        .forEach((link) => {
                            link.classList.remove("active");
                        });
                    element.classList.add("active");
                })
                .catch((error) => {
                    console.error("Error fetching content:", error);
                    document.getElementById("markdown-section").innerHTML =
                        "<p>Error loading content. Please try again later.</p>";
                });
        }
    </script>
</body>
